<% content_for :head do %>
  <title><%= @user.name %>さんのページ - monolist </title>
  <meta property="keywords" content="<%= @user.name %>さんの欲しいもの、持っているものリスト -monolist" />
<% end %> 

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>