@font-face {
	font-family: "Flaticon";
	src: url("../assets/Fonts/flaticon.eot");
	src: url("../assets/Fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../assets/Fonts/flaticon.woff") format("woff"),
	url("../assets/Fonts/flaticon.ttf") format("truetype"),
	url("../assets/Fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
       /* font-size: 20px; */
font-style: normal;
/*　margin-left: 20px;　*/
}.flaticon-monarchy38:before {
	content: "\e000";
}
